<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Página de prácticas masterD">
    <meta name="robots" content="NOFOLLOW">
    <meta name="Cristhian" content="sena">
    <meta name="keywords" content="Demo,Prueba,Práctica4">
    <meta name="lang" content="es">
    <meta name="revisit-after" content="2 days">
    <meta name="category" content="Prácticas">
    <!-- Declaración de fichero de estilos -->
    <title>Práctica 4 - Sitio Web</title>
    <link rel="stylesheet" type="text/css" href="./../css/style.css">
</head>

<body>
    <header>
        <div class="logo">
            <h1>BUEN TRIP</h1>
        </div>
        <nav>
            <ul>
                <li><a href="./../index.html">Inicio</a></li>
                <li><a href="./noticias.html">Noticias</a></li>
                <li><a href="./productos.html">Productos</a></li>
                <li><a href="./registro.html" class="active">Registro</a></li>
            </ul>
        </nav>
    </header>
    <main class="conte_principal">
        <section class="section1">
            <h2>Nuestros Cruceros</h2>
            <a href="./../assets/image/CRUCERO.png">
                <p class="txtnoti">Aquí tienes toda la informacion actualizada con respecto a Nuestros Cruceros Lorem
                    ipsum
                    dolor sit amet
                    consectetur adipisicing elit. Praesentium veniam dignissimos, saepe distinctio doloribus dolor
                    assumenda
                    magni odio modi ad porro velit! Ex, aliquid consectetur? Libero dicta minima similique officia.
                    Lorem
                    ipsum dolor sit amet consectetur adipisicing elit. Quisquam, rem quod! Est quisquam facere vitae
                    sequi
                    totam recusandae debitis blanditiis adipisci autem odio, explicabo quis quibusdam aperiam quos
                    repudiandae labore.</p>
            </a>
        </section>
        <section class="section3">
            <h2>Nuestros Parques de atracciones</h2>
            <a href="./../assets/image/parque.jpg">
                <p class="txtnoti">Aquí tienes toda la informacion actualizada con respecto a Nuestros Parques Lorem
                    ipsum
                    dolor sit amet
                    consectetur adipisicing elit. Excepturi, ad. Tenetur nisi debitis quasi minima beatae aspernatur,
                    dicta
                    mollitia saepe hic commodi. Perspiciatis iusto repudiandae tempora harum. Laborum, laboriosam eum?
                    Lorem
                    ipsum dolor sit, amet consectetur adipisicing elit. Odit necessitatibus ab illum, vitae non repellat
                    nihil facilis ut alias reprehenderit! Alias sunt nam voluptate, aliquam minus sint iusto eveniet
                    tenetur.</p>
            </a>
        </section>
    </main>
    <footer class="piedepag">
        <a href="#"><img class="iconfooter" src="./../assets/image/gmail_icono.png" alt="imagen de gmail_icono"></a>
        <a href="#"><img class="iconfooter" src="./../assets/image/Instagram_Icon.png" alt="imagen de Instagram"></a>
        <a href="#"><img class="iconfooter" src="./../assets/image/logo_whatsapp.png" alt="imagen de logo_whatsapp"></a>
        <a href="#"><img class="iconfooter" src="./../assets/image/logo_youtube.png" alt="logo_youtube"></a>
    </footer>
</body>

</html>