<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Página de prácticas masterD">
    <meta name="robots" content="NOFOLLOW">
    <meta name="Cristhian" content="sena">
    <meta name="keywords" content="Demo,Prueba,Práctica4">
    <meta name="lang" content="es">
    <meta name="revisit-after" content="2 days">
    <meta name="category" content="Prácticas">
    <!-- Declaración de fichero de estilos -->
    <title>Práctica 4 - Sitio Web</title>
    <link rel="stylesheet" type="text/css" href="./../css/style.css">
</head>

<body>
    <header>
        <div class="logo">
            <h1>BUEN TRIP</h1>
        </div>
        <nav>
            <ul>
                <li><a href="./../index.html">Inicio</a></li>
                <li><a href="./noticias.html">Noticias</a></li>
                <li><a href="./productos.html">Productos</a></li>
                <li><a href="./registro.html" class="active">Registro</a></li>
            </ul>
        </nav>
    </header>
    <main class="conte_principal">
        <section class="section1">
            <h2>Galería de Fotos</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi reiciendis in ut cupiditate, dolor natus
                non recusandae beatae, possimus voluptatem cumque pariatur illum, nulla soluta aliquid nisi. Ad, nihil
                consectetur Lorem ipsum dolor sit amet consectetur, adipisicing elit. Optio laborum sapiente, autem sint
                esse natus nemo fugiat modi, tempore quia similique, vero temporibus maiores ipsa repellendus facere.
                Rem, voluptatum veritatis? Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed nobis maxime
                ipsa odio obcaecati enim ipsam eligendi delectus eos quo reprehenderit aspernatur aperiam minus, iure
                vel omnis numquam illo accusantium?</p>
            <div class="productos">
                <a href="./../assets/image/Dubai.jpg">
                    <div class="image-demo1">Haz click para ver mas! </div>
                </a>
                <a href="./../assets/image/camboriu2.jpg">
                    <div class="image-demo2">Haz click para ver mas! </div>
                </a>
                <a href="./../assets/image/cancun.jpg">
                    <div class="image-demo3">Haz click para ver mas! </div>
                </a>
                <a href="./../assets/image/balos-Grecia.jpg">
                    <div class="image-demo4">Haz click para ver mas! </div>
                </a>
                <a href="./../assets/image/caribe_bajo.jpg">
                    <div class="image-demo5">Haz click para ver mas! </div>
                </a>
                <a href="./../assets/image/novios_viaje.jpg">
                    <div class="image-demo6">Haz click para ver mas! </div>
                </a>
                <a href="./../assets/image/CRUCERO.png">
                    <div class="image-demo7">Haz click para ver mas!</div>
                </a>
                <a href="./../assets/image/bariloche.jpg">
                    <div class="image-demo8">Haz click para ver mas! </div>
                </a>
            </div>
        </section>
        <section class="section3">
            <img class="imagenpro" src="./../assets/image/aviones_playa.jpg" alt="aviones_playa" width="640"
                height="450">
            <h2>Viajes Especiales</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Ipsa facilis unde obcaecati dignissimos earum accusantium nisi,
                ipsum harum perferendis.
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Voluptatibus quidem cupiditate in facilis omnis consectetur
                nostrum enim.
            </p>

        </section>
    </main>
    <footer class="piedepag">
        <a href="#"><img class="iconfooter" src="./../assets/image/gmail_icono.png" alt="imagen de gmail_icono"></a>
        <a href="#"><img class="iconfooter" src="./../assets/image/Instagram_Icon.png" alt="imagen de Instagram"></a>
        <a href="#"><img class="iconfooter" src="./../assets/image/logo_whatsapp.png" alt="imagen de logo_whatsapp"></a>
        <a href="#"><img class="iconfooter" src="./../assets/image/logo_youtube.png" alt="logo_youtube"></a>
    </footer>
</body>

</html>