<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Página de prácticas masterD">
    <meta name="robots" content="NOFOLLOW">
    <meta name="Cristhian" content="sena">
    <meta name="keywords" content="Demo,Prueba,Práctica4">
    <meta name="lang" content="es">
    <meta name="revisit-after" content="2 days">
    <meta name="category" content="Prácticas">
    <!-- Declaración de fichero de estilos -->
    <title>Práctica 4 - Sitio Web</title>
    <link rel="stylesheet" type="text/css" href="./../css/style.css">
</head>

<body>
    <header>
        <div class="logo">
            <h1>BUEN TRIP</h1>
        </div>
        <nav>
            <ul>
                <li><a href="./../index.html">Inicio</a></li>
                <li><a href="./noticias.html">Noticias</a></li>
                <li><a href="./productos.html">Productos</a></li>
                <li><a href="./registro.html" class="active">Registro</a></li>
            </ul>
        </nav>
    </header>
    <main class="conte_principal">
        <section class="section1"> <br><br>
            <p class="titulomapa">PODES VISITARNOS EN..</p>
            <iframe class="mapa"
                src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d2312.988958693317!2d-3.700020125263527!3d40.44119605415177!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1salonso%20cano%20masterd!5e1!3m2!1ses-419!2ses!4v1732721775450!5m2!1ses-419!2ses"
                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </section>
        <section class="section1">
            <h2>Formulario de Registro</h2>
            <form action="#" method="post">
                <label for="name">Nombre:</label>
                <input type="text" id="name" name="name" required><br><br>

                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required><br><br>

                <label for="name">Telefono:</label>
                <input type="text" id="telefono" name="telefono" required><br><br>

                <label for="message">Mensaje:</label>
                <textarea id="message" name="message"></textarea><br><br>

                <div class="checkbox">
                    <input type="checkbox" id="privacidad" name="privacidad" required>
                    <label for="privacidad">He leído y acepto la <a href="#">Política de privacidad Lorem ipsum dolor
                            sit amet consectetur adipisicing elit. Ex tenetur saepe, officia earum eius in explicabo
                            similique aspernatur dolore nulla nisi ullam magni repellat, vitae itaque, numquam atque ut
                            totam. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores eum in qui
                            quibusdam esse accusantium cumque a repellat saepe corporis! Nam harum eveniet similique.
                            Blanditiis quidem explicabo quisquam minus similique?</a>.</label>
                </div>

                <button type="submit">Enviar</button>

            </form>
        </section>
    </main>
    <footer class="piedepag">
        <a href="#"><img class="iconfooter" src="./../assets/image/gmail_icono.png" alt="imagen de gmail_icono"></a>
        <a href="#"><img class="iconfooter" src="./../assets/image/Instagram_Icon.png" alt="imagen de Instagram"></a>
        <a href="#"><img class="iconfooter" src="./../assets/image/logo_whatsapp.png" alt="imagen de logo_whatsapp"></a>
        <a href="#"><img class="iconfooter" src="./../assets/image/logo_youtube.png" alt="logo_youtube"></a>
    </footer>
</body>

</html>